<div class="jumbotron">
<div class="container">
    <div class="row main">

        <div class="col-md-2">
        </div>

        <div class="col-md-8">

            <h1 class="con-main">Contact</h1>
            <p class="con-sab">何か気になることや質問などございましたらこちらから<br>よろしくお願いします。</p>

            <form action="" method="post" class="myform">
                <div class="form-group">
                    "お名前"
                    <input type="text" name="sei" maxlength="15" placeholder="姓" class="form-control">
                    <input type="text" name="mei" maxlength="15" placeholder="名" class="form-control">
                </div>
                <div class="form-group">
                    "メールアドレス"
                    <input type="text" name="mail" maxlength="50" placeholder="メールアドレス" class="form-control">
                </div>
                <div class="form-group">
                    "メッセージ"
                <textarea name="other" rows="10" cols="70" placeholder="ご意見ご感想をご記入ください" class="form-control"></textarea>
                </div>
                <div class="form-group">
                <input type="submit" value="送信" class="btn btn-success">
                <input type="reset" value="リセット" class="btn btn-success">
                </div>
                
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</div>