<div class="container-fluid">
    <div class="row site tyairo">
    <h1>profile</h1>

        <div class="col-md-3">
        </div>

        <div class="col-md-3">
            <div class="main-img"></div>
        </div>

        <div class="col-md-3">
            <div class="intro">
            <p class="text2">名前</p>
            <p>増田　靖　（ますだ　やすし）</p>
            <p>出身地</p>
            <p>東京都品川区在住</p>
            <p>生年月日</p>
            <p>1995年10月08日生まれ</p>
            <p>大学</p>
            <p>日本大学理工学部建築学科</p>
            <p>専攻</p>
            <p>建築設備</p>
            
            </div>
        </div>

        <div class="col-md-3">
        </div>
    </div>

    <div class="row gray">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
            <h3>〜略歴〜</h3>
            <p class="text2">平成7年10月8日　東京都品川区生まれ</p>
            <p class="text3">平成20年4月　荏原第一中学校入学</p>
            <p class="text3">平成23年3月　荏原第一中学校卒業</p>
            <p class="text3">平成23年4月　日本大学豊山高校入学</p>
            <p class="text3">平成26年3月　日本大学豊山高校卒業</p>
            <p class="text3">平成26年4月　日本大学理工学部建築学科入学</p>
            <p class="text4">平成30年3月　日本大学理工学部建築学科卒業予定</p>
        </div>

        <div class="col-md-2">
        </div>
    </div>

    <div class="row mizu">
        <h3>〜趣味〜</h3>

        <div class="col-md-3">
        </div>

        <div class="col-md-3">
            <div class="white intro">
                <h4>草野球</h4>
                <p class="text5">
                兄の影響もあり、保育園の年長から高校まで野球をやっていました。今までの人生の中で一番力を入れて活動してきたものであり、ほぼ毎日のように練習をしていました。現在では中学時代の友達などと品川区の草野球の大会に出たりして楽しんでいます。高校の野球部の友達とも集まったりして遊んだりすることもあり、野球を通して多くの人と出会い友達になったと思います。
                </p>
            </div>
        </div>

        <div class="col-md-3">
             <div class="hobby1"></div>
        </div>

        <div class="col-md-3">
        </div>
    </div>



    <div class="row mizu">

        <div class="col-md-3">
            
        </div>

        <div class="col-md-3">
            <div class="hobby2"></div>
               
            
        </div>

        <div class="col-md-3">
            <div class="white intro2"> 
                <h4>映画鑑賞</h4>
                <p class="text5">
                大学に入学してから映画を見る機会が増えたなと思います。インタネットで定額制の動画配信サービスであるhuluに入っており洋画を見るのが好きになりました。大学の友達と映画館に行って見に行ったりすることも増えてきて、この前初めて4Dで映画を見たときに3Dメガネで立体に見えるだけでなく映画のシーンに合わせて椅子が動いたり、匂いを付けたりしていて最新の設備はすごいなと思いました。
                </p>
            </div>
        </div>

        <div class="col-md-3">
        </div>
    </div>











</div>
