<div class="container-fluid">
    <div class="row site orange">
    <h1>profile</h1>

        <div class="col-md-2">
        </div>

        <div class="col-md-4">
            <div class="main-img"></div>
        </div>

        <div class="col-md-4">
            <div class="intro">
            <p>増田　靖　（ますだ　やすし）</p>
            <p>東京都品川区在住</p>
            <p>日本大学理工学部在住</p>
            <p>趣味</p>
            <p>草野球・映画鑑賞</p>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>

    <div class="row gray">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
            <h3>〜略歴〜</h3>
            <p>平成7年10月8日　東京都品川区生まれ</p>
            <p>平成23年4月　日本大学豊山高校入学</p>
            <p>平成26年3月　日本大学豊山高校卒業</p>
            <p>平成26年4月　日本大学理工学部建築学科入学</p>
            <p>平成30年3月　日本大学理工学部建築学科卒業予定</p>
        </div>

        <div class="col-md-2">
        </div>
        
    </div>
</div>
