<div class="container-fluid">
    <div class="row site tiiki">
        <h1>work</h1>

        <h3>地域センター</h3>

        <div class="col-md-3">
            <a href="/assets/tiiki1.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/tiiki1.png" class="architecture"></a>
        </div>

        <div class="col-md-3">
            <a href="/assets/tiiki2.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/tiiki2.png" class="architecture"></a>
        </div>

        <div class="col-md-3">
            <a href="/assets/tiiki3.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/tiiki3.png" class="architecture"></a>
        </div>

        <div class="col-md-3">
            <a href="/assets/tiiki4.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/tiiki4.png" class="architecture"></a>
        </div>

        <div class="col-md-12">
            <p class="text1">
                東京の武蔵野市にある地域センターの建て替えを計画しました。小さい子供から高齢者<br>
                まで幅広い年代から利用されるように住民が求めている地域センターへのニーズを考え、<br>多くの市民が日常生活や地域活動をより豊かにできるよう設計しました。
            </p>
        </div>
    </div>


    <div class="row site nezu">
        

        <h3 class="">南青山コンプレックス</h3>

        <div class="col-md-4 photo">
            <a href="/assets/konpure1.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/konpure1.png" class="architecture"></a>
        </div>

        <div class="col-md-4 photo">
            <a href="/assets/konpure2.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/konpure2.png" class="architecture"></a>
        </div>
        
        <div class="col-md-4 photo">
            <a href="/assets/konpure3.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/konpure3.png" class="architecture"></a>
        </div>

        <div class="col-md-6 photo">
            <a href="/assets/konpure4.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/konpure4.png" class="architecture"></a>
        </div>

        <div class="col-md-6 photo">
            <a href="/assets/konpure5.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/konpure5.png" class="architecture"></a>
        </div>

        <div class="col-md-12">
            <p class="text1">表参道にある根津美術館の道路を挟んで反対側に位置する敷地に多くの方々に利用してもらえる<br>ようなコンプレックスを設計しました。</p>
        </div>
    </div>


    <div class="row site wahuu">
        <h3>インテリアデザイン</h3>

        <div class="col-md-4 photo">
            <a href="/assets/interia1.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/interia1.png" class="architecture"></a>
        </div>

        <div class="col-md-4 photo">
            <a href="/assets/interia2.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/interia2.png" class="architecture"></a>
        </div>

        <div class="col-md-4 photo">
            <a href="/assets/interia3.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/interia3.png" class="architecture"></a>
        </div>

        <div class="col-md-6 photo">
            <a href="/assets/interia4.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/interia4.png" class="architecture"></a>
        </div>

        <div class="col-md-6 photo">
            <a href="/assets/interia5.png" data-lightbox="image-1" data-title="My caption"><img src="/assets/interia5.png" class="architecture"></a>
        </div>

        <div class="col-md-12">
            <p class="text2">
                世界にアピールしたい日本の技術や工芸品を取り入れたレストラン空間をデザインをする<br>ということで「日本らしさ」という視点を多く取り入れた空間を作りました。
            </p>
        </div>

    </div>








</div>