/*profileのページ*/
.site {
	padding-top: 50px;
	padding-bottom: 30px;
}

.gray {
	background-color: #DCDCDC;
}

.orange {
	background-color: #FFA07A;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
	text-shadow: 3px 3px 2px gray;
}

.main-img{
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-top: 30px;
	border-radius: 10px;
	box-shadow: 0 0 3px 2px gray;
	background-image: url(IMG_0136.JPG);
	background-size: cover;
}

.intro{
	padding-top: 30px;
}



h3{
	margin-top: 40px;
	text-align: center;
}


footer{
	background-color: black;
	opacity: 0.7;
}

.text{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: white;
}

.webpage{
	margin: 10px 25%;
	width: 500px;
	height: 300px;
	text-align: center;
	box-shadow: 0 0 3px 2px gray;
}


.image{
	margin: 20px auto;
	text-align: center;
}

.architecture{
	margin-left: 20px;
	width: 150px;
	height: 150px;
	box-shadow: 0 0 3px 2px gray;
}

#message{
	padding-top: 70px;
	padding-bottom: 70px;
}

.something{
	margin-top: 20px;
	text-align: center;
}




/*contactのページ*/

.con-main {
	text-align: center;
	font-size: 40px;
}

.con-sab {
	text-align: center;
}

.jumbotron {
	height: 100vh;
	margin: 0px;
	background: url("freeimage.9-bb.com-02369.jpg");
	background-position: center center;
	background-size: cover;
	color: #000000;
}